<div class="@comments-container">
  <h2><%= t('views.common.title_index', name: i18n_pluralize(Comment.model_name.human)) %></h2>
  <% if @book.comments.empty? %>
    コメントがありません
  <% else %>
    <% @book.comments.order(:id).each do |comment| %>
      <%= render 'comments/comment', comment: comment, commentable: @book %>
    <% end %>
  <% end %>
</div>
