<div>
  <p>
    <%= l comment.created_at %>
  </p>
  <p>
    <%= current_user_name(comment.user) %>
    <%= comment.content %>
  </p>
  <% if comment.user == current_user %>
    <%= link_to t('views.common.destroy', name: Comment.model_name.human.downcase), [commentable, comment], data: { turbo_method: :delete } %>
  <% end %>
</div>
