<%= form_with(model: [commentable, Comment.new]) do |form| %>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
