<h1><%= (I18n.t 'headline.Editing_target',target: Book.model_name.human) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to (I18n.t "action.Edit_target",target: Book.model_name.human), book_path(@book) %> |
  <%= link_to (I18n.t "action.Back_targets", target: Book.model_name.human), books_path %>
</nav>
